.commentModal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    .commentModal-backgroundDrop {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #111111;
        opacity: 0.9;
    }

    .commentModal-layer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        background-color: #111111;
        position: sticky;
        opacity: 0.9;

        .commentModal-modal {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            .commentModal-modal-container {
                width: 700px;
                max-width: 700px;
                height: calc(100% - 117px);
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }

                .commentModal-modal-wrapper {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .commentModal-contents {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1rem;
                        background-color: #1E1F22;
                        border-radius: 1rem;
                        padding-bottom: 0;
                        position: relative;
                        overflow-y: scroll;
                        &::-webkit-scrollbar {
                            display: none;
                        }

                        .createComment {
                            width: 100%;

                            .createComment-flexVertical {
                                width: 100%;
                                display: flex;
                                flex-direction: column;

                                .top {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding-top: 1rem;
                                    padding-bottom: 0.5rem;

                                    .fill {
                                        opacity: 0;
                                    }

                                    h2 {
                                        font-size: 20px;
                                        font-weight: bold;
                                        color: #E4E6EB;
                                        padding-left: 4.5rem;
                                    }

                                    .btnWrap {
                                        padding: 0.5rem 0px;

                                        button {
                                            padding: 0.5rem;
                                            width: 36px;
                                            height: 36px;
                                            border-radius: 50%;
                                            color: #E4E6EB;
                                            font-weight: bold;
                                            cursor: pointer;
                                            background-color: rgba(78,79,80,0.7);
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            border: none;
                                            transition: all 0.15s ease-in-out;

                                            &:hover {
                                                background-color: rgba(78,79,80,1.000);
                                            }
                                        }
                                    }
                                }

                                .center {
                                    padding-top: 0.5rem;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    .authorInfo {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        padding-bottom: 0.5rem;

                                        .author {
                                            display: flex;
                                            align-items: center;
                                            gap: 0.5rem;

                                            img {
                                                width: 32px;
                                                height: 32px;
                                                object-fit: contain;
                                                border-radius: 50%;
                                                background-color: white;
                                                cursor: pointer;
                                            }

                                            .author_texts {
                                                display: flex;
                                                flex-direction: column;
                                                gap: 0.5rem;
                                                font-weight: 700;
                                                color: #E4E6EB;
                                                font-size: 15px;
                                                cursor: pointer;

                                                .moreInfo {
                                                    display: flex;
                                                    align-items: center;
                                                    gap: 0.5rem;

                                                    span {
                                                        font-weight: 400;
                                                        color: #bdb3b8;
                                                        font-size: 11px;
                                                        cursor: default;
                                                    }
                                                }
                                            }
                                        }

                                        .moreVert {
                                            opacity: 0.7;
                                            transition: all 0.15s ease;
                                            cursor: pointer;

                                            &:hover {
                                                opacity: 1;
                                            }
                                        }
                                    }

                                    .postBody {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;

                                        img {
                                            width: 100%;
                                            height: 400px;
                                            object-fit: contain;
                                            margin-bottom: 1rem;
                                        }

                                        .postBody_text {
                                            padding-bottom: 0.5rem;

                                            span {
                                                font-weight: 400;
                                                color: #E4E6EB;
                                            }
                                        }
                                    }
                                }

                                .bottom {
                                    width: 100%;

                                    .scroll {
                                        width: 100%;

                                        .bottom-row-top {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            width: 100%;
                                            margin: 8px 0px;

                                            span {
                                                color: #bdb3b8;
                                                font-size: 13px;

                                                &:hover {
                                                    text-decoration: underline;
                                                    cursor: pointer;
                                                }
                                            }
                                        }

                                        .bottom-row-bottom {
                                            display: flex;
                                            flex-direction: column;

                                            .filterOptions {
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;

                                                .filterOption {
                                                    display: flex;
                                                    flex-direction: column;
                                                    gap: 0.5rem;

                                                    .list {
                                                        display: flex;
                                                        flex-direction: column;
                                                        gap: 0.5rem;
                                                        align-items: flex-end;
                                                        position: relative;

                                                        .firstChild {
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: space-between;

                                                            .fetchCount {
                                                                display: flex;
                                                                align-items: center;

                                                                span {
                                                                    color: #bdb3b8;
                                                                    font-size: 13px;
                    
                                                                    &:hover {
                                                                        text-decoration: underline;
                                                                        cursor: pointer;
                                                                    }
                                                                }
                                                            }

                                                            .filterOpt {
                                                                display: flex;
                                                                align-items: center;
                                                            }
                                                        }

                                                        .absoluteBox {
                                                            position: absolute;
                                                            top: 28px;
                                                            right: 10px;
                                                            background-color: #3A3B3C;
                                                            width: max-content;
                                                            border-radius: 5px;
                                                            padding: 5px;

                                                            .filterTextWrap {
                                                                width: 100%;
                                                                padding: 5px;
                                                                border-radius: 5px;
                                                                cursor: pointer;

                                                                &:hover {
                                                                    background-color: rgba(78,79,80,1);
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .comment_scrollWrap {
                                                width: 100%;
                                                overflow-y: scroll;
                                                &::-webkit-scrollbar {
                                                    display: none;
                                                }

                                                ul {
                                                    width: 100%;

                                                    li {
                                                        display: flex;
                                                        flex-direction: column;
                                                        gap: 1rem;

                                                        .commentWrap {
                                                            margin-top: 0.5rem;
                                                            width: 100%;
                                                            display: flex;
                                                            gap: 0.5rem;

                                                            .userProfile {

                                                                img {
                                                                    width: 32px;
                                                                    height: 32px;
                                                                    object-fit: contain;
                                                                    background-color: white;
                                                                    border-radius: 50%;
                                                                    cursor: pointer;
                                                                }
                                                            }

                                                            .comment {
                                                                flex: 1;
                                                                display: flex;
                                                                flex-direction: column;
                                                                gap: 0.5rem;

                                                                .comment-top {
                                                                    width: 100%;

                                                                    .wrap {
                                                                        width: max-content;
                                                                        max-width: 100%;
                                                                        padding: 0.5rem;
                                                                        border-radius: 1rem;
                                                                        background-color: #3A3B3C;
                                                                        display: flex;
                                                                        flex-direction: column;
                                                                        transition: all 0.15s ease;
                                                                        position: relative;
                                                                        gap: 3px;

                                                                            .comment_userName {
                                                                                font-weight: bold;
                                                                                cursor: pointer;
                                                                                width: max-content;
                                                                            }

                                                                            .comment-description-edit {
                                                                                font-family: inherit;
                                                                                height: 21px;
                                                                                background-color: transparent;
                                                                                border: none;
                                                                                color: inherit;
                                                                                font-size: inherit;
                                                                                outline: none;
                                                                            }

                                                                            .comment-description {
                                                                                width: 100%;
                                                                                font-weight: 400;
                                                                                word-wrap: break-word;
                                                                                white-space: pre-wrap;
                                                                                word-break: break-word;
                                                                            }

                                                                            .commentEdit {
                                                                                position: absolute;
                                                                                top: 16px;
                                                                                right: -24px;
                                                                                cursor: pointer;
                                                                            }

                                                                            .editIcons {
                                                                                display: flex;
                                                                                align-items: center;
                                                                                justify-content: center;
                                                                                flex-direction: column;
                                                                                gap: 3px;

                                                                                .update_icon {
                                                                                    position: absolute;
                                                                                    top: -13px;
                                                                                    right: -4px;
                                                                                    cursor: pointer;
                                                                                    opacity: 0.7;
                                                                                    transition: all 0.15s ease;

                                                                                    &:hover {
                                                                                        opacity: 1;
                                                                                    }
                                                                                }

                                                                                .cancel_icon {
                                                                                    position: absolute;
                                                                                    top: 13px;
                                                                                    right: -6px;
                                                                                    cursor: pointer;
                                                                                    opacity: 0.7;
                                                                                    transition: all 0.15s ease;

                                                                                    &:hover {
                                                                                        opacity: 1;
                                                                                    }
                                                                                }
                                                                            }
                                                                    }
                                                                }

                                                                .comment-bottom {
                                                                    width: 100%;

                                                                    .flexWrap {
                                                                        display: flex;
                                                                        align-items: center;
                                                                        gap: 1rem;
                                                                        justify-content: flex-start;

                                                                        span {
                                                                            color: #bdb3b8;
                                                                            font-weight: bold;
                                                                            cursor: pointer;
                                                                            font-size: 11px;

                                                                            &:hover {
                                                                                text-decoration: underline;
                                                                            }
                                                                        }
                                                                    }

                                                                    .flexWrap > span:last-child {
                                                                        
                                                                        &:hover {
                                                                            cursor: default;
                                                                            text-decoration: none;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .comment_scrollWrap > ul:last-child {
                                                margin-bottom: 125px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .commentForm {
                            background-color: #242526;
                            position: absolute;
                            bottom: 0px;
                            right: 2px;
                            z-index: 999;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            width: 100%;

                            .leftWrap {
                                padding: 0px 1rem;
                                width: 100%;

                                .innerYWrap {
                                    padding: 1rem 0px;
                                    width: 100%;

                                    .form_flexRow {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        gap: 0.5rem;

                                        img {
                                            width: 32px;
                                            height: 32px;
                                            object-fit: cover;
                                            background-color: white;
                                            border-radius: 50%;
                                            cursor: pointer;
                                        }

                                        form {
                                            display: flex;
                                            flex-direction: column;
                                            width: 100%;
                                            padding-bottom: 0.5rem;

                                            .commentInput_top {
                                                width: 100%;
                                                background-color: #3A3B3C;
                                                border-radius: 1rem 1rem 0 0;

                                                .inputWrap {
                                                    padding: 0.5rem;
                                                    width: 100%;

                                                    input {
                                                        width: 100%;
                                                        background-color: transparent;
                                                        border: none;
                                                        outline: none;
                                                        font-size: 15px;
                                                        color: #E4E6EB;

                                                        &::placeholder {
                                                            color: #bdb3b8;
                                                        }
                                                    }
                                                }
                                            }

                                            .commentInput_bottom {
                                                width: 100%;
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;
                                                background-color: #3A3B3C;
                                                border-radius: 0 0 1rem 1rem;
                                                padding: 0.5rem;

                                                .icons {
                                                    display: flex;
                                                    align-items: center;
                                                    gap: 0.5rem;
                                                    cursor: pointer;


                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}