@import '../../../scss/abstracts/color';

.community-navbar-lefts {
    width: 72px;
    height: 100%;
    background-color: $background-darker;

    .navbar-wrapper {
        width: 100%;
        height: 100%;
        padding-top: 1rem;

        .scroller {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .tutorialContainer {
                position: relative;
                display: flex;
                align-items: center;
                transition: all 0.15s ease;

                .pill {
                    display: flex;
                    align-items: center;

                    span {
                        position: absolute;
                        width: 8px;
                        height: 40px;
                        border-radius: 8px;
                        background-color: white;
                        left: -16px;
                    }
                }

                .tut-itemWrapper {
                    width: 48px;
                    height: 48px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #5865F2;
                    cursor: pointer;

                    img {
                        width: 28px;
                        height: 21px;
                        object-fit: cover;
                    }

                    &:hover {
                        background-color: #5865F2;
                    }
                }
            }

            hr {
                width: 66%;
                height: 1px;
                background-color: $border-color;
                opacity: 0.5;
            }

            .server {
                position: relative;
                display: flex;
                align-items: center;

                .flex-col {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 9px;

                    .server-items {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        .pill {
                            display: flex;
                            align-items: center;
        
                            span {
                                position: absolute;
                                width: 8px;
                                height: 40px;
                                border-radius: 8px;
                                background-color: white;
                                left: -16px;
                            }
                        }

                        .server-itemWrapper {
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: white;
                            cursor: pointer;
                            transition: all 0.15s ease;

                            img {
                                width: 48px;
                                height: 48px;
                                border-radius: 50%;
                                background-color: #1E1F22;
                                object-fit: cover;
                            }
                        }

                        .serverNameBox {
                            position: absolute;
                            background-color: #101113;
                            border-radius: 0.7rem;
                            left: 4rem;
                            z-index: 999;

                            .wrapper {
                                padding: 0.5rem;
                                width: max-content;

                                span {
                                    color: #fff;
                                    text-decoration: inherit;
                                    font-weight: 700;
                                }
                            }
                        }

                        section {
                            width: max-content;
                            min-width: 188px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            color: inherit;
                            text-decoration: none;
                            background-color: #101113;
                            border-radius: 0.7rem;
                            z-index: 99999;

                            .wrapper {
                                width: 100%;
                                padding: 0.5rem 0.75rem;

                                .flexCol {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;

                                    .itemContainer {
                                        width: 100%;
                                        padding: 0.5rem;
                                        border-radius: 0.5rem;

                                        span {
                                            color: #b5bac1;
                                            text-decoration: inherit;
                                            font-weight: 400;
                                            font-size: 14px;
                                        }

                                        .invite {
                                            color: #949cf7;
                                        }

                                        .text_icon {
                                            width: 100%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                        }

                                        .text {
                                            width: 100%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;

                                            .text_flexCol {
                                                display: flex;
                                                flex-direction: column;

                                                .thin {
                                                    font-weight: 300;
                                                    font-size: 11px;
                                                }
                                            }
                                        }

                                        &:hover {
                                            background-color: #4752C4;

                                            span {
                                                color: #fff;
                                            }

                                            .invite {
                                                color: #fff;
                                            }
                                        }
                                    }

                                    hr {
                                        width: 100%;
                                        opacity: 0.1;
                                        height: 0.5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .tutorialContainer-2 {

                .flex-col {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;

                    .tut-itemWrapper {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        background-color: $border-color;
                        transition: all 0.15s ease;

                        .icon {
                            color: $info-color;
                            font-size: 24px;
                        }

                        &:hover {
                            border-radius: 25%;
                            background-color: $info-color;

                            .icon {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}