.slider {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0rem;

    .slider-wrapper {
        width: 900px;
        height: 400px;
        padding: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 1rem;
        box-shadow: 0 2px 2px rgba(0,0,0,.3);
    }
}