/* Main Page */
$footer-background: #23272A;

/* Board Section */
$text-color: #fff;
$text-soft: #5F6267;
$background-color: #313338;
$background-darker: #1E1F22;
$background-light: #80848E;
$border-color: #3F4147;
$icon-color: #DBDEE1;
$info-color: #248046;
$sidebar-color: #2B2D31;

/* ff */
$community-fontFamily: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;