.navModal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    
    .navModal-backgroundDrop {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.75;
        background-color: #111111;
    }

    .navModal-layer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        opacity: 0.91;
        background-color: #111111;
        position: sticky;

        .navModal-modal {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 14rem;

            .navModal-modal-container {
                width: 570px;
                height: max-content;
                padding-bottom: 5rem;

                .navModal-modal-wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .navModal-contents {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1rem;
                        background-color: #2B2D31;
                        border-radius: 1rem;
                        opacity: 1;

                        input {
                            width: 95%;
                            margin: 0 auto;
                            margin-bottom: 2rem;
                            min-height: 70px;
                            padding-left: 1rem;
                            background-color: #1E1F22;
                            border: none;
                            outline: none;
                            color: #fff;
                            font-size: 1.5rem;
                            border-radius: 8px;

                            &::placeholder {
                                font-size: 1.5rem;
                            }
                        }

                        .navModal-myServer {
                            padding: 0px 1rem;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 0.5rem;
                            font-size: 14px;
                            margin-bottom: 1rem;

                            p {
                                color: #fff;
                                min-width: max-content;
                            }

                            .navModal-latestServer {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
                                width: 100%;

                                .navModal-texts {
                                    span {
                                        color: #b5bac1;
                                    }
                                }

                                .navModal-category {
                                    flex: 1;
                                    text-align: right;
    
                                    span {
                                        color: #b5bac1;
                                        font-size: 12px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }

                        .navModal-announcement {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            width: 100%;
                            justify-content: flex-start;
                            padding: 0px 1rem;

                            span {
                                color: #2D8E59;
                                font-size: 12px;
                            }

                            .texts {
                                display: flex;
                                align-items: center;

                                span {
                                    color: #b5bac1;
                                    font-size: 12px;
                                    margin-right: 0.5rem;
                                }

                                .learnMore {
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}